# Ignorar node_modules em todas as subpastas
**/node_modules/

# Ignorar arquivos de ambiente em todas as subpastas
**/.env
**/.env.local
**/.env.*.local

# Ignorar diretórios do Next.js em todas as subpastas
**/.next/
**/out/

# Ignorar logs
**/logs
**/*.log

# Ignorar cache e builds
**/dist/
**/build/
**/.turbo/
**/.vercel/
**/.idea/
**/.vscode/

# Ignorar dependências do sistema
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
